@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -text-size-adjust:100%;

	font-family: 'Raleway', sans-serif;
}

/*VENUS MAIN PAGE*/

header {
	background-color:grey;
}

h1 {
	text-align:center;
}

.title {
	background-color:lightgrey;
	text-align:center;
}


.img-flex {
	width:100%;
	display: block;
}

ul {
	list-style-type:none;
	padding-left:0;
}

li {
	display:block;
	width:100%;
	margin-right:1em;
}


li a {
	padding:0.5em;
	display: block;
}

li a:hover {
	background-color:blue;
	color:white;
}

body {
	margin:0;
}

nav a {
	color:blue;
	text-decoration: none;
}

.grey {
	background-color:lightgrey;
}

.darkgrey {
	background-color: darkgrey;
}

/*Characteristics*/

dd {
	margin-left:0;
}

/*Footer*/

.footer {
	background-color:lightgrey;
}

/*EXPLORATION PAGE*/

.greybox {
	background-color:lightgray;
}

/*MOON PAGE*/

@media only screen and (min-width: 20em) {

	h1 {
		text-align:center;
	}

	nav li {
		display:inline-block;
		width:25%;
	}

	ul {
		text-align:center;
	}

	.pages {
		margin-right:0;
	}

	.footul {
		margin:-1em;
		float:left;
		padding-left:0;
		margin-right:0.5em;
	}

	.footnav {
		margin:0;
		padding:0;
		text-align:left;
}

@media only screen and (min-width: 25em) {

	li {
		display:inline;
		text-align:left;
		width: auto;
	}

	.pages {
		margin-top:1em;
	}

	ul {
		margin:0 auto;
	}

	.footnav {
		margin:0;
		padding:0;
		text-align:left;
	}

	.footmenu {
		text-align:left;
	}

	.footul {
		margin:-2.5em;
		float:left;
		padding-left:2.5em;
	}

}

@media only screen and (min-width: 38em) {

	.footnav {
		margin:0;
	}

	.footer {
		width:100%;
	}

	nav {
		padding:0;
	}

	nav a {
		padding-top:;
	}

		.footul {
		margin:0;
		float:left;
		padding-left:2.5em;
	}
}
