html {
	font: normal 100%/1.5 'Raleway', sans-serif;
}

h1 {
	font-size:1.802rem
}

h2 {
	font-size:1.602rem
}

h3 {
	font-size:1.424rem
}

h4 {
	font-size:1.266rem
}

h5 {
	font-size:1.125rem
}

h6 {
	font-size:1rem;
}
